<!-- HTML expanding (Emmet):
  - type html:5 and press Tab;
  - type div>h1#header and press Tab;
-->
<div>
Ally Codes auslesen: <input type="file" id="input" onchange="handleGuildFile(this.files)">
</div>
<div>
 Members auslesen: <input type="file" id="input" onchange="handleMembersFile(this.files)">
</div>
<div id="resultTable"></div>
